@import "tailwindcss";

@theme {
  --color-primary: #4848e5;
  --color-background-light: #f6f6f8;
  --color-background-dark: #111121;
  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;

  --font-display: "Manrope", sans-serif;

  --radius-DEFAULT: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
}
